body {
  background-image: url("./assets/pexels-startup-stock-photos-7379.jpg");
  background-size: 75% auto;
  background-position: center top;
  background-repeat: no-repeat;
   background-color: black;
}
 


.list {
  max-width: 600px;
  margin: 10px 0;
  padding: 20px;
  font-family: "Segoe UI", sans-serif;
}

.list input {
  padding: 10px;
  margin-right:0px;
}


.todo-list {
  margin-top: 25px;
  padding-left: 20px;
  color: black;
}

.todo-list li {
  margin-bottom: 12px;
}
.todo--completed {
  text-decoration: line-through;
  text-decoration-color: black;
  opacity: 2;
}

h1 {
  font-family: "Segoe Print", cursive;
  font-size: 44px;
  font-weight: 600;
  color: #222;
  letter-spacing: 0.5px;
  margin-bottom: 25px;
}
.delete-button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 5px;
}

.delete-button img {
  width: 22px;
  height: 22px;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 15px;
}

.add-button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  margin-left: 8px;
  position: relative;
  top: 5px;
}

.add-button img {
  width: 25px;
  height: 25px;
  display: block;
}
